certifi==2020.12.5
chardet==4.0.0
typedb-client==2.2.0
typedb-protocol==2.2.0
idna==2.10
numpy==1.20.1
pandas==1.2.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
untangle==1.1.1
urllib3==1.26.5
wget==3.2
