certifi==2022.12.7
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.0.1
defusedxml==0.7.1
distlib==0.3.6
filelock==3.9.0
grpcio==1.52.0
identify==2.5.18
idna==3.4
nodeenv==1.7.0
numpy==1.24.2
pandas==1.5.3
platformdirs==3.0.0
pre-commit==3.0.4
protobuf==3.20.3
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
six==1.16.0
tqdm==4.64.1
typedb-client==2.14.3
typedb-protocol==2.14.1
untangle==1.1.1
urllib3==1.26.14
virtualenv==20.19.0
wget==3.2
xmltodict~=0.13.0
